---

import Layout from '../layouts/layout.astro';
import PageTitle from '../components/page-title.astro';

---

<Layout title="Einenlum - Search" description="Search for articles." includeSearch={true}>
    <div class="mb-8">
        <PageTitle>Search for articles</PageTitle>
    </div>

    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showImages: false });
        });
    </script>

</Layout>
