---

interface Props {
    href: string,
    children: any,
    rel?: string,
    additionalClasses?: string
}

let classlist = [
    "text-pink-900",
    "hover:text-pink-700",
    "dark:text-indigo-200", 
    "transition",
    "ease-in-out",
    "delay-150",
    "font-semibold",
];

const { href, children, rel, additionalClasses } = Astro.props as Props;
if (additionalClasses) {
    classlist.push(additionalClasses);
}
---

<a
    href={href}
    class:list={[...new Set(classlist)]}
    rel={rel}
><slot /></a>
