---
import ALink from '../components/a-link.astro';
---

<div class="mt-14 sm:mt-24 text-sm text-right mr-4">
    <div class="text-right space-x-1 align-bottom float-right">
        <ALink href="/rss.xml">
            <div class="w-3 h-3 bg-contain bg-center bg-rss-light-mode dark:bg-rss-dark-mode inline-block mr-2"></div>
            <div class="inline-block">Feed</div>
        </ALink>
    </div>

</div>
