---
interface Props {
    text: string
}

const { text } = Astro.props as Props
---


<div class="mx-3 md:mx-6 last:mr-0 text-lg list-none">
    <span class="transition ease-in-out delay-150 text-gray-500 dark:text-gray-400">
        {text}
    </span>
</div>
