---
interface Props {
    text: string
}

const { text } = Astro.props as Props
---


<li class="mx-3 md:mx-6 last:mr-0 text-lg">
    <span class="transition ease-in-out delay-150 text-gray-400">
        {text}
    </span>
</li>
