---
interface Props {
    src: string,
    alt: string
}

const {src, alt} = Astro.props as Props
---

<div class="my-10">
    <img
        class="mx-auto"
        src={src}
        alt={alt}
    />
</div>
