---
import ALink from "./a-link.astro";

const { prevUrl, currentPage, totalPages, nextUrl } = Astro.props
---

<nav aria-label="Blog pages" class="mt-24 mx-4">
    <div class="mx-auto flex justify-center">
        <div class="basis-1/3">
            {
                typeof prevUrl === 'string' && (
                    <ALink href={prevUrl === '' ? '/' : prevUrl}>
                        ←&nbsp;Previous
                        </ALink>
                )
            } 
        </div>

        <div class="basis-1/3 text-center">
            {
                totalPages > currentPage && (
                    <span class="text-gray-500">{currentPage} / {totalPages}</span>
                )
            }
        </div>

        <div class="basis-1/3 text-right">
            {
                typeof nextUrl === 'string' && (
                    <ALink href={nextUrl}>
                        Next&nbsp;→
                        </ALink>
                )
            }
        </div>
    </div>
</nav>
