---
import ArticleHeader from '../components/article-header.astro';
import Layout from './layout.astro';

export interface Props {
	title: string,
	description: string,
    publishedAt: Date
}

const { title, description, publishedAt } = Astro.props;
---

<Layout title={title} description={description}>
    <!-- Pagefind will only look for articles now -->
    <div data-pagefind-body>
        <ArticleHeader title={title} publishedAt={publishedAt} />

        <slot />
    </div>
</Layout>
